@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card m-2">
    <div class="card-header text-center">Bem-vindo ao Sistema de Gestão da Transportadoras Freire</div>
    <div class="card-body">

        <p>Gerencie suas operações de transporte e financeiras de forma eficiente.</p>
        <h2>Funcionalidades</h2>
        <ul>
            <li>
                <strong>Clientes:</strong> Gerencie as informações dos clientes.
            </li>

            <li>
                <strong>Caminhões:</strong> Controle detalhado dos caminhões.
            </li>
            <li>
                <strong>Romaneios:</strong> Cadastro e acompanhamento dos romaneios.
            </li>
            <li>
                <strong>Despesas:</strong> Controle financeiro das despesas.
            </li>
            <li>
                <strong>Manutenção:</strong> Registro e acompanhamento das manutenções dos caminhões.
            </li>
            <li>
                <strong>Pagamentos:</strong> Gerenciamento dos pagamentos.
            </li>
            <li>
                <strong>Relatórios:</strong> Geração de relatórios financeiros e operacionais.
            </li>
            <li>
                <strong>Alertas:</strong> Notificações de manutenções preventivas e vencimento de documentos.
            </li>
        </ul>

    </div>
    <div class="card-footer">
        <p>&copy; 2024 Transportadoras Freire. Todos os direitos reservados.</p>
    </div>
</div>
